[Unit]
Description=Run Mirrulations Download Reaper daily
Requires=mirrulations-reaper.service

[Timer]
# Run once a day at 3:00 AM
OnCalendar=*-*-* 03:00:00
# If the system was off at scheduled time, run it soon after boot
Persistent=true

[Install]
WantedBy=timers.target
